.portfolio-container{
    width:80%;
margin:auto;
}
.port-row{ 
    width:100%;
    display:flex;
    flex-wrap: wrap;
    
    margin:auto;
}
    
/* .port-col{
           width:30%;
   
 } */
#portfolio-section h1 {
    text-align:center;
    text-shadow:-8px -8px 1px rgba(166, 166, 166,0.5);
    padding:20px 0px;
}
#portfolio-section .po{
    text-align:center;
    font-size:18px;
    
}
.port-btn{
    text-align:center;
   padding-top:25px;
   padding-bottom:10px
}

.button2{
   padding:10px 15px;
   background-color:white;
   color:black;
   border-radius:5px;
   border:1px solid white;
}
.button1{
   padding:10px 15px;
   background-color:rgb(12, 129, 30);
   color:white;
   border-radius:5px;
   border:2px solid white;
}

.button2:hover{
   background:rgb(12, 129, 30);
   color:rgb(255, 255, 255);
}



   
.port-card{position:relative;}

.port-col img{
   width:100%;
   
}
.port-col {margin:10px;}
.port-cont1,.port-cont2,.port-cont3,.port-cont4,.port-cont5,.port-cont6,.port-cont7,.port-cont8,.port-cont9  {
position:absolute;
z-index:2;
display:none;
}

.port-cont1{top:83%;
           left:3%;}
   
.port-cont2{
   bottom:3%;
   left:3%;
   
}
.port-cont3{
top:75%;
left:3%;}

.port-cont4{
   left: 3%;
   top:85%;
   
}
.port-cont5{
      bottom:4%;
left: 3%;}
.port-cont6{
       bottom:4%;
       left:3%;
       
}
.port-cont7{
   bottom:4%;
   left:3%;
}
.port-cont8{
   bottom:4%;
   left:3%;
       
}

.port-cont9{
   left:3%;
   bottom:4%;}
   
.port-col .port-card:hover .port-cont1{display:block;} 	
.port-col .port-card:hover .port-cont2{display:block;} 	
.port-col .port-card:hover .port-cont3{display:block;} 	
.port-col .port-card:hover .port-cont4{display:block;} 	
.port-col .port-card:hover .port-cont5{display:block;} 	
.port-col .port-card:hover .port-cont6{display:block;} 	
.port-col .port-card:hover .port-cont7{display:block;} 
.port-col .port-card:hover .port-cont8{display:block;} 
.port-col .port-card:hover .port-cont9{display:block;} 

.port-col .port-card:hover .bg-color{display:block;} 	
.port-col .port-card:hover .bg-color2{display:block;} 	
.port-col .port-card:hover .bg-color3{display:block;} 	
.port-col .port-card:hover .color{display:block;} 

   
   
   




.bg-color{
   background-color:white;
   width:100%;
   height:12vh;
   position:absolute;
   bottom:0%;
   left:0;
   opacity:0.7;
   display:none;
   
   
}

.color{
   background-color:white;
   width:100%;
   height:10vh;
   position:absolute;
   bottom:0%;
   left:0;
   opacity:0.7;
   display:none;
}

.bg-color2{
   background-color:white;
   width:100%;
   height:15vh;
   position:absolute;
   bottom:0%;
   left:0;
   opacity:0.7;
   display:none;

}
.bg-color3{
   background-color:white;
   width:100%;
   height:15vh;
   position:absolute;
   bottom:0%;
   left:0;
   opacity:0.7;
   display:none;

}